.list-group ul li {
	list-style-type: none;
}

.jumbotron {
	background: url("../image/beer.jpg") no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width:100%;
	background-size: cover;
	padding-top: 10%;
	padding-bottom: 20%;
}
p {
	color: red;
}