.list-group ul li {
	list-style-type: none;
}

#home {
	background: url("../image/beer.jpg") no-repeat center center fixed;
	display: table;
	position: relative;
	width:100%;
	background-size: cover;
	min-height: 500px;
	color: white;
}

.overlay {
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 500px;
}
